<!doctype html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>CodingLabs - About me</title>
        <link rel="stylesheet" href="{{mycss}}"/>
        <script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F75dfda8ff8a93fa0b94adeb17da37a2f' type='text/javascript'%3E%3C/script%3E"));

</script>
   
</head>
    <body onload="prettyPrint()" style="font-family:verdana">
    <div id="header" >
        <div id="header-inner">
            <div id="title"><a href="/file">HOME PAGE</a></div>
            <div id="subtitle">Welcome {{user}}</div>
        </div>
    </div>
    <div id="main" >
    <div id="main-inner" float:left>
    <h2>上传一个附件给我？</h2>
        <form action="/uploadfile" method="post" enctype="multipart/form-data">
            <label id="title_file" >文件名不支持特殊符号</label><br>
            <input type='text' name='upfilename' style="display: none" />
            <input type="file" name='file' /><br>          
            <input type="submit" value='submit'><br>
            <label id="title_file" >{{file_msg}}</label>
        </form>

 <div id="my-page-content" float:left>
     <h2 id="my_file_title">查看我的文件</h2>
    <ul>
    <li><a href="/userdownloadpage/{{user}}" >看看有什么？</a> </li>
    </ul>
 </div>

 <div id="page-content" float:left>
    <h2 id="file_title">查看大家的文件</h2>
   <ul>
   <li><a href="/down" >看看有什么？</a> </li>
   <ul>
</div>

</div>



    </body>

</html>